* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    background-color: #106EBE;
}

nav {
    background: #222;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin-left: 20px;
    margin-right: 20px;
}
nav ul li a {
    color: #d8d4c8;
    text-decoration: none;
    font-size: 18px;
}
nav ul li a:hover {
    color: #52dbb7;
}

footer {
    background-color: rgb(225, 233, 196);
    position: sticky;
    top: 100vh;
}

img {
    width: 509.3px;
    height: 339.5px;
    align-self: center;
}
h1 {
    color: #e5f1fc;
}
h2 {
    color: #0FFCBE;
}
p {
    color: #ffffff;
}
a {
    text-decoration: none;
    border-radius: 20px;
    color: rgb(117, 117, 114);
}
button {
    background-color: #29c299;
    color: #e5f1fc;
    border: none;
    border-radius: 6px;
    width: 100px;
    height: 50px;
    font-size: 16px;
    align-self: center;
}
li {
    text-decoration: none;
}

#home {
    background: url(Sist_Vend.png) center/cover no-repeat;
    color: #ffffff;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont {
    display: flex;
    flex-direction: column;
}